
<footer>
  <p>Copyright © Pulkit Bansal 2017. All Rights Reserved</p>
  <p>
    <a href="mailto:pulkit.bl219@gmail.com">
      <i class="fa fa-envelope fa-fw"></i>
    </a>
    <a href="https://github.com/pulkit219" target='_blank'>
      <i class="fa fa-github fa-fw"></i>
    </a>
    <a href="https://www.linkedin.com/in/puba219" target='_blank'>
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://codepen.io/pulkit219" target='_blank'>
      <i class="fa fa-codepen"></i>
    </a>
    <a href="https://www.freecodecamp.com/pulkit219" target='_blank'>
    (<i class="fa fa-fire fa-fw"></i>)
  </a></p>
</footer>



<script src="https://code.jquery.com/jquery-3.2.1.js"
 integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript">

	$(document).ready(function() {




	});
</script>
</body>
</html>
