
<footer>
  <p>Copyright © Pulkit Bansal . All Rights Reserved</p>
  <p>
    <a href="mailto:pulkit.bl219@gmail.com">
      <i class="fa fa-envelope fa-fw"></i>
    </a>
    <a href="https://github.com/pulkit219" target='_blank'>
      <i class="fa fa-github fa-fw"></i>
    </a>
    <a href="https://www.linkedin.com/in/puba219" target='_blank'>
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://codepen.io/pulkit219" target='_blank'>
      <i class="fa fa-codepen"></i>
    </a>
    <a href="https://www.freecodecamp.com/pulkit219" target='_blank'>
    (<i class="fa fa-fire fa-fw"></i>)
  </a></p>
</footer>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript">

	$(document).ready(function() {
     $('.flash').hide().delay(100).fadeIn(200).delay(4000).fadeOut(200);
	});
</script>
</body>
</html>
