
    <footer>
    <<footer>
  <p>Copyright © Pulkit Bansal 2017. All Rights Reserved</p>
  <p>
    <a href="mailto:pulkit.bl219@gmail.com">
      <i class="fa fa-envelope fa-fw"></i>
    </a>
    <a href="https://github.com/pulkit219" target='_blank'>
      <i class="fa fa-github fa-fw"></i>
    </a>
    <a href="https://www.linkedin.com/in/puba219" target='_blank'>
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://codepen.io/pulkit219" target='_blank'>
      <i class="fa fa-codepen"></i>
    </a>
    <a href="https://www.freecodecamp.com/pulkit219" target='_blank'>
    (<i class="fa fa-fire fa-fw"></i>)
  </a></p>
</footer>
   
 </body>
</html> 
