<% include partials/header %>

<h1>Index page</h1>
      <%blogs.forEach(obj=>{%>
        <div>
          <h2><%=obj.title %></h2>
          <img src="<%=obj.image %>" alt="">
          <span><%=obj.created %></span>
          <p><%=obj.body %></p>
        </div>
      <%}) %>



<% include partials/footer %>
