
<% include partials/header %>

<h1>Campground  page </h1>
<%campgrounds.forEach(obj=>{%>

  <div class="">
    <h4><%=  obj.name %></h4>
    <img src="<%= obj.image%>" alt="">
  </div>

<%}) %>
<% include partials/footer %>
